<% provide(:title, "About Get Fit") %>

<div class = "description">
  <p> How to use Get Fit </p>

  <p> Get Fit is not just for logging your accomplishments alone. It is the opposite. It is designed as a social network where you can achieve your weight loss/healthy body aspirations with your friends. </p>
</div>

</br>


