<% provide(:title, "About Get Fit") %>

<h2> Who Am I? </h2>

<p> I am an individual who is dedicated to staying healthy and in good shape. Through my experience in maintaining a healthy lifestyle, I have recognized that monitoring what I eat and the exercise I do is crucial. I therefore created this site to help others monitor their daily activity and food intake.</p>

<h2> How to Use Get Fit </h2>

<p> Get Fit is not just for logging your accomplishments alone. It is the opposite. It is designed as a social network where you can achieve your weight loss/healthy body aspirations with your friends. </p>

</br>


