<div class = "description">
  <% provide(:title, 'All users') %>
  <h1> Fellow users </h1>

  <%= will_paginate %>

  <ul class="users">
  <%= render @users.sort_by { |user| user.name.downcase } %>
  </ul>

  <%= will_paginate %>
</div>
